.App {
  text-align: center;
  background-image: linear-gradient(to bottom right, black, dimgray, #000000);
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  color:aliceblue;
  background-image: linear-gradient(to bottom right, black, dimgray, #000000);
}

.banner {
  position: fixed;
  top:0;
  left:0;
  right:0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
  background-image: linear-gradient(to bottom right, black, dimgray, #000000);
  font-size: 2rem;
  font-weight: bold;
  box-shadow: 1px 1px 1px 1px rgba(255, 0, 0, 0.6);
  min-width: 100vw;
  color: aliceblue;
  text-shadow: 2px 2px 6px rgba(255, 0, 0, 0.6);
}


section {
  padding-top: 100px;
  margin-left: 200px;
}

.sidebar {
  position: fixed;
  top: 80px;
  left: 0;
  height: calc(100% - 80px);
  width: 200px;
  background-color: #1c1c1c;
  padding-top: 50px;
  box-shadow: 2px 0 5px rgba(255, 0, 0, 0.5);
  z-index: 998;
}

.sidebar-ul {
  list-style-type: none;
  padding: 15;
}

.sidebar-ul li {
  margin: 20px 0;
}

.sidebar-ul a {
  text-decoration: none;
  color: aliceblue;
  font-weight: bold;
}

.sidebar-ul a:hover {
  text-shadow: 2px 0 5px rgba(255, 0, 0, 0.6);
}

button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.section {
  width:100%;
}
