.App {
  text-align: center;
  background-image: linear-gradient(to bottom right, black, dimgray, #000000);
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  color:aliceblue;
  background-image: linear-gradient(to bottom right, black, dimgray, #000000);
}

.banner {
  position: fixed;
  top:0;
  left:0;
  right:0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-image: linear-gradient(to bottom right, black, dimgray, #000000);
  color: aliceblue;
  font-size: 2rem;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
  width: 100%;
}

section {
  padding-top: 100px;
  margin-left: 200px;
}

.sidebar {
  position: fixed;
  top: 80px;
  left: 0;
  height: calc(100% - 80px);
  width: 200px;
  background-color: #1c1c1c;
  padding-top: 50px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 998;
}

.sidebar-ul {
  list-style-type: none;
  padding: 15;
}

.sidebar-ul li {
  margin: 20px 0;
}

.sidebar-ul a {
  text-decoration: none;
  color: aliceblue;
  font-weight: bold;
}

.sidebar-ul a:hover {
  color: #ff4081
}

button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.section {
  width:100%;
}

/* @media (max-width: 768px) {
  .MovieCard {
    width: 45%;
  }

  .SearchForm input {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .MovieCard {
    width: 90%;
  }

  .SearchForm {
    flex-direction: column;
    align-items: center;
  }

  .SearchForm button {
    width: 100%
  }
} */