.Favorites {
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding-top: 80px;
    margin-left: 0;
    background-image: linear-gradient(to bottom right, black, dimgray, #000000);
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    min-width: 100vw;
}

.Watched {
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding-top: 80px;
    margin-left: 0;
    background-image: linear-gradient(to bottom right, black, dimgray, #000000);
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    min-width: 100vw;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
    justify-content: middle;
    width: 100%;
    max-width: 1200px;
}