.MovieList {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    min-height: 200px;
    width: 100%;
    background-image: linear-gradient(to bottom right, black, dimgray, #000000);
    color: #f0f0f0;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    padding: 1rem;
}

.resetButton {
    background-color: #444;
    color: #f0f0f0;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 4px;
    border: none;
    transition: background-color 0.2s ease;
}

.resetButton:hover {
    background-color: #666;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin-top: 1rem;
}

.loadMore {
    margin: 2rem 0;
    padding: 0.7rem 2rem;
    font-size: 1rem;
    background-color: #333;
    color: white;
}

.loadMore:hover {
    background-color: #555;
}
