.MovieList {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 1rem 2rem 1rem;
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom right, black, dimgray, #000000);
    background-size: cover;
    color: aliceblue;
}

.searchContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    margin: 1rem auto;
    flex-wrap: wrap;
    gap: 1rem;
}

.sort select {
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    background-color: #222;
    color: aliceblue;
    border-radius: 4px;
    margin-right: 0.5rem;
}

.sort select:hover {
    box-shadow: 0 6px 16px rgba(255, 0, 0, 0.6);
}

.search {
    display: flex;
    align-items: center;
}

.search input {
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    background-color: #222;
    color: aliceblue;
    border-radius: 4px;
    margin-right: 0.5rem;
}

.search input:hover {
    box-shadow: 0 6px 16px rgba(255, 0, 0, 0.6);
}

.search button {
    background-color: #444;
    color: aliceblue;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border:none;
    border-radius: 4px;
    margin-left: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search button:hover {
    background-color: #555;
    box-shadow: 0 6px 16px rgba(255, 0, 0, 0.6);
}

.resetButton {
    background-color: #444;
    color: #f0f0f0;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 4px;
    border: none;
    transition: background-color 0.2s ease;
}

.resetButton:hover {
    background-color: #555;
    box-shadow: 0 6px 16px rgba(255, 0, 0, 0.6);
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 100vw;
    margin-top: 1rem;
}

.loadMore {
    margin: 2rem 0;
    padding: 0.7rem 2rem;
    font-size: 1rem;
    background-color: #333;
    color: white;
}

.loadMore:hover {
    background-color: #555;
    box-shadow: 0 6px 16px rgba(255, 0, 0, 0.6);
}

@media (max-width: 600px) {
    .searchContainer {
        flex-direction: column;
        align-items: center;
    }

    .search {
        justify-content: center;
    }

    .sort {
        width: 100%;
    }

    .search input,
    .search button {
        width: 100%;
    }
}